/* google fonts link */

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');


/* font-family: 'Inter', sans-serif; */

/* common css */

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    border: 0;
    outline: none;
    font-family: 'Inter', sans-serif;
}

h1, h2, h3, h4, h5, h6, p {
    padding: 0;
    margin: 0;
}

body {
    overflow-x: hidden;
}

a {
    display: inline-block;
    text-decoration: none;
}

ul,
li,
ol {
    list-style: none;
    padding: 0;
    margin: 0;
}

img {
    display: block;
}

.container {
    padding: 0;
}


.title {
    text-align: center;
    padding-bottom: 50px;
}

.title h2 {
    color: #151515;
    font-size: 45px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-bottom: 20px !important;
}

.title p {
    color: #737373;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px;
}


/*  */

.navbar {
    /* background-color: rgb(6, 26, 26); */
    padding: 0;
    position: absolute;
    z-index: 99999;
    width: 100%;
    top: 50px;
}

.navbar .navbar-nav {
    column-gap: 67px;
}

.navbar .navbar-nav .nav-item .nav-link {
    padding: 0;
    color: #FFF;
    font-family: Inter;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 26px;
}

.navbar .navbar-nav .nav-item .active,
.navbar .navbar-nav .nav-item:hover .nav-link {
    color: #4756DF;
}

.navbar form button {
    padding: 15px 42px;
    border-radius: 10px;
    background: #6A4DF4;
    color: #ffffff;
    font-weight: 700;
}

#banner_area {
    position: relative;
}

#banner_area  .banner_slider_area .banner_slider_padding {
    padding: 400px 0;
}

#banner_area  .banner_slider_area .banner_slider_1 {
    background-image: url(../images/agenc-Banner\ 1.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}


#banner_area  .banner_slider_area .banner_slider_2 {
    background-image: url(../images/bennar-2.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

#banner_area  .banner_slider_area .banner_slider_3 {
    background-image: url(../images/banner-3.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

#banner_area  .banner_slider_area .banner_slider_4 {
    background-image: url(../images/banner-4.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

#banner_area .banner_slider_area {
    position: relative;
}

#banner_area .banner_slider_area ul {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    bottom: 53px;
    display: flex;
    column-gap: 10px;
    z-index: 9;
}

#banner_area .banner_slider_area ul li button {
    height: 40px;
    width: 40px;
    line-height: 40px;
    font-size: 0;
    background-color: #4756DF;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}

#banner_area .banner_slider_area ul .slick-active button {
    border: 8px solid #ffffff;
} 

#banner_area .overlay {
    position: absolute;
    left: 0;
    top: 0;
    background-color: rgba(0, 0, 0, 0.6);
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    text-align: center;
}

#banner_area .overlay .banner_content {
    overflow: hidden;
}

#banner_area .overlay .banner_content h1 {
    color: #FFF;
    font-size: 75px;
    font-style: normal;
    font-weight: 700;
    line-height: 120%; 
    width: 70%;
    margin: 0 auto;
    overflow: hidden;
} 

#banner_area .overlay .banner_content p {
    color: #FFF;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px; 
    width: 50%;
    margin: 0 auto;
    padding: 50px 0 40px;
}

#banner_area .overlay .banner_content a {
    color: #FFF;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: 26px;
    background-color: #6A4DF4;
    padding: 15px 42px;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}

/*    counter area css      */

#counter_area {
    padding-top: 170px;
}

#counter_area .col-lg-4,
#counter_area .col-lg-8 {
    padding: 0;
    margin: 0;
}

#counter_area .container {
    padding: 0;
    margin: 0 auto;
}

#counter_area .container_bg {
    background-color: #E0FFF9;
    padding: 85px 25px 86px 40px;
    border-radius: 16px;
    -webkit-border-radius: 16px;
    -moz-border-radius: 16px;
    -ms-border-radius: 16px;
    -o-border-radius: 16px;
}

#counter_area h3 {
    color: #6A4DF4;
    font-size: 25px;
    font-style: normal;
    font-weight: 500;
}

#counter_area h2 {
    color: #151515;
    font-size: 35px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    width: 390px;
}

#counter_area .counterRightArea {
    display: flex;
    justify-content: flex-end;
    column-gap: 110px;
    align-items: center;
    height: 100%;
}

#counter_area .counterRightArea h4 {
    color: #151515;
    font-size: 50px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

#counter_area .counterRightArea p {
    color: #737373;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
}

/* service area css */

#service_area {
    padding: 150px 100px;
}

#service_area .title p{ 
    width: 610px;
    margin: 0 auto;
}

#service_area .service_items .row {
    row-gap: 24px;
}

#service_area .service_item_bg {
    border: 2px solid transparent;
    transition: .4s;
    -webkit-transition: .4s;
    -moz-transition: .4s;
    -ms-transition: .4s;
    -o-transition: .4s;
}

#service_area .service_item_bg:hover {
    border: 2px solid #ffffff;
    cursor: pointer;
    background-color: #ffffff;
    box-shadow: 0px 0px 5px 2px rgba(0,0,0,0.2);
    border-radius: 16px;
    -webkit-border-radius: 16px;
    -moz-border-radius: 16px;
    -ms-border-radius: 16px;
    -o-border-radius: 16px;
}

#service_area .service_item {
    padding: 80px 0 50px;
}


#service_area .service_item .item_img {
    display: flex;
    justify-content: center;
    margin-bottom: 40px;
}

#service_area .items_text,
#portfolio_area .portfolio_text {
    text-align: center;
}

#service_area .items_text h4 {
    color: #151515;
    font-size: 25px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-bottom: 20px;
}

#service_area .items_text p {
    color: #737373;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px;
    width: 325px;
    margin: 0 auto;
    padding: 0 10px;
}

/* portfolio area css */

#portfolio_area {
    background-color: #F3F3F3;
    padding: 150px 0;
}

#portfolio_area .title p{ 
    width: 620px;
    margin: 0 auto;
}

#portfolio_area .portfolio_items .row {
    row-gap: 24px;
}


#portfolio_area .portfolio_item_bg {
    background-color: #ffffff;
    border-radius: 16px;
    -webkit-border-radius: 16px;
    -moz-border-radius: 16px;
    -ms-border-radius: 16px;
    -o-border-radius: 16px;
    padding-bottom: 30px;
    overflow: hidden;
}

#portfolio_area .portfolio_item_bg:hover img {
    transform: scale(1.04);
    -webkit-transform: scale(1.04);
    -moz-transform: scale(1.04);
    -ms-transform: scale(1.04);
    -o-transform: scale(1.04);
}

#portfolio_area .portfolio_item .portfolio_img img {
    width: 100%;
}

#portfolio_area .portfolio_item_bg img {
    border-radius: 16px;
    -webkit-border-radius: 16px;
    -moz-border-radius: 16px;
    -ms-border-radius: 16px;
    -o-border-radius: 16px;
    transition: .4s;
    -webkit-transition: .4s;
    -moz-transition: .4s;
    -ms-transition: .4s;
    -o-transition: .4s;
}

#portfolio_area .portfolio_text h4 {
    color: #151515;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin: 30px 0 10px;
}

#portfolio_area .portfolio_text p {
    color: #737373;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px;
    width: 340px;
    margin: 0 auto;
}

/* choice area css */

#choice_area {
    padding: 150px 0 100px;
}

#choice_area .title{ 
    padding-bottom: 140px;
}

#choice_area .title h2 { 
    width: 518px;
    margin: 0 auto;
}

#choice_area .title p { 
    width: 802px;
    margin: 0 auto;
}


#choice_area .choice_heading h2 {
    color: #151515;
    text-align: center;
    font-size: 45px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    width: 500px;
    margin: 0 auto;
}

#choice_area .choice_heading p {
    color: #737373;
    text-align: center;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px;
    width: 800px;
    margin: 0 auto;
    margin-top: 20px;
}

#choice_area .choiceContent .left:first-child,
#choice_area .choiceContent .middle:first-child {
    margin-bottom: 100px;
}

#choice_area .choiceContent .choice_item_text h6 {
    color: #151515;
    font-size: 25px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin: 20px 0 10px;
}

#choice_area .choiceContent .choice_item_text p {
    color: #737373;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px;
    width: 340px;
}

#choice_area .choiceContent .right .choice_img {
    height: 450px;
}

#choice_area .choiceContent .right .choice_img img {
    width: 100%;
    height: 100%;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
}

/* review area css */

#review_area {
    padding-bottom: 227px;
}


#review_area .title p {
    width: 620px;
    margin: 0 auto;
}

#review_area .review_slider_part .slick-list {
    padding: 70px 0 !important;
}

#review_area .review_slider {
    transition: .4s;
    -webkit-transition: .4s;
    -moz-transition: .4s;
    -ms-transition: .4s;
    -o-transition: .4s;
}

#review_area .review_slider.slick-center {
    background-color: #F4EFEF;
    border-radius: 30px;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    -ms-border-radius: 30px;
    -o-border-radius: 30px;
    transform: scale(1.04);
    -webkit-transform: scale(1.04);
    -moz-transform: scale(1.04);
    -ms-transform: scale(1.04);
    -o-transform: scale(1.04);
}

#review_area .review_content {
    padding: 55px 36px;
    border-radius: 16px;
    -webkit-border-radius: 16px;
    -moz-border-radius: 16px;
    -ms-border-radius: 16px;
    -o-border-radius: 16px;
    margin: 0 12px;
    z-index: 9999;
    transform: translate(.9);
    -webkit-transform: translate(.9);
    -moz-transform: translate(.9);
    -ms-transform: translate(.9);
    -o-transform: translate(.9);
}

#review_area .review_text {
    padding: 20px 0;
}

#review_area .review_text p {
    color: #7B7B7B;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px;
    width: 300px;
}

#review_area .review_star i {
    font-size: 20px;
    color: #F9BD2C;
    margin-right: 5px;
}

#review_area .review_star {
    margin-bottom: 30px;
}

#review_area .review_profile {
    display: flex;
    column-gap: 20px;
    align-items: center;
}

#review_area .review_profile .profile img{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    object-fit: cover;
}

#review_area .review_profile .profile_text h6 {
    color:  #232323;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
}

#review_area .review_profile .profile_text p {
    color: #7B7B7B;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px;
}

.review_slider_part .left_arrow i {
    position: relative;
}

.review_slider_part .left_arrow i {
    background-color: #4756DF;
    color: #fff;
    font-size: 20px;
    height: 40px;
    width: 40px;
    line-height: 40px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    text-align: center;
    position: absolute;
    top: 50%;
    left: 0;
    z-index: 9;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
}

.review_slider_part .right_arrow i {
    background-color: #4756DF;
    color: #fff;
    font-size: 20px;
    height: 40px;
    width: 40px;
    line-height: 40px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    text-align: center;
    position: absolute;
    top: 50%;
    right: 0;
    z-index: 1;
    transform: translate(50%, -50%);
    -webkit-transform: translate(50%, -50%);
    -moz-transform: translate(50%, -50%);
    -ms-transform: translate(50%, -50%);
    -o-transform: translate(50%, -50%);
}


/* get area css */
#get_area {
    background-color: #F3F3F3;
    padding: 150px 0;
}

#get_area .container {
    height: 100%;
}

#get_area .container .row {
    height: 100%;
}
#get_area .container .row:first-child {
    align-items: center;
}

#get_area .get_text h4 {
    color: #151515;
    font-size: 45px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    width: 470px;
}

#get_area .get_text p {
    color: #7B7B7B;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px;
    width: 514px;
}

#get_area .get_form_bg {
    background-color: #fff;
    padding: 61px 43px;
    border-radius: 16px;
    -webkit-border-radius: 16px;
    -moz-border-radius: 16px;
    -ms-border-radius: 16px;
    -o-border-radius: 16px;
    width: 536px;
    /* margin: 0 auto; */
}

#get_area .get_form_heading {
    padding-bottom: 30px;
}

#get_area .get_form_heading h6 {
    color: #151515;
    font-size: 30px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-align: center;
}

#get_area .get_form_bg .get_form .form-label {
    color: #151515;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 26px;
    margin-bottom: 10px;
}

#get_area .get_form_bg .get_form input {
    margin-bottom: 20px;
    padding: 19px 23px;
}


#get_area .get_form_bg .get_form input::placeholder {
    color: #D0D0D0;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px;
}

#get_area .get_form_bg .btn {
    width: 100%;
    padding: 19px 0;
    background-color: #6A4DF4;
}

/* footer area css */

#footer_area {
    padding: 150px 0 33px;
}

#footer_area .col-lg-4,
#footer_area .col-lg-8 {
    padding: 0;
    margin: 0;
}

#footer_area .footer_logo {
    margin-bottom: 30px;
}

#footer_area .footer_text p {
    color: #7B7B7B;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px;
    width: 350px;
}

#footer_area .footer_menu {
    display: flex;
    justify-content: flex-end;
    /* column-gap: 130px; */
    column-gap: 100px;
}

#footer_area .footer_menu ul h6 {
    color: #151515;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    margin-bottom: 40px;
}

#footer_area .footer_menu ul li {
    margin-bottom: 20px;
}

#footer_area .footer_menu ul li a {
    color: #7B7B7B;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
}

#footer_area hr {
    color: #D0D0D0;
}

#footer_area .copy_right{
    text-align: center;
}

#footer_area .copy_right p {
    color: #D0D0D0;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px;
}